@import "tailwindcss";

@theme {
  --font-sans: 'Kanit', sans-serif;
}

@layer base {
  html, body, #root {
    background-color: #0C0C0C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  }
}

@layer utilities {
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.main-wrapper {
  overflow-x: clip;
}
